
body {
  background-image: url("pop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  background-color: black;
}

.col-1 {
  padding-top: 5px;
}

.col-1 img {
  height: 45px;
  width: 80%;
}

.col-3 {
  padding-top: 5px;
}

ul.nav {
  list-style-type: none;
  padding: 0;
}

ul.nav li {
  display: inline;
  margin-right: 10px;
}

ul.nav li a {
  color: aliceblue;
  text-decoration: none;
}

.container {
  margin-top: 20px;
}

.text-block {
  margin-top: 20px;
}

.pos_cen {
  display: flex;
  justify-content: center;
}

.personal-details h6 {
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

#image-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.cast-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}

footer.bdr1 {
  height: 400px;
  background-color: black;
  color: aliceblue;
  padding: 20px;
}

footer .bg {
  display: flex;
  justify-content: center;
}

footer h3 {
  margin-bottom: 20px;
}

footer h4 {
  text-align: justify;
}

footer .col-5 {
  align-items: center;
  justify-content: center;
  display: flex;
}

footer h4 {
  color: aliceblue;
}

